<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Zup - Abertura de Conta</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" th:href="@{/}"><img src="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5e666d594f66c9c1e9c3ce74_LogoRGB2.png" alt="logo da zup" sizes="(max-width: 479px) 37vw, 110px" srcset="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5e666d594f66c9c1e9c3ce74_LogoRGB2-p-500.png 500w, https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5e666d594f66c9c1e9c3ce74_LogoRGB2.png 778w" class="image-logo"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		    <ul style="list-style-type: none;">
				<li>
					<div>
						<button type="submit" class="btn btn-primary" style=" position: absolute; top: 20px; left: 90%; background-color: #FD5C12; border-color:white;"><a style=" text-decoration: none; color: white; font-size:18px;" th:href="@{/login}">Entre!</a></button>
					</div>	
				</li>		    
		    </ul>
	</nav>
	
	<img style="position:absolute; width: 100%; height: 100vh;"
		
		src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm22-360-technology-nam-004.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d735e3de5e4429772336f4dd9fe7be72" />
		
	
	
	<div class="container text-center">
		
				<div>
			<h1 style="color: black; position: absolute; font-weight: bold;top: 220px; right: 177px;font-size:36px;">Abra uma conta Zup!</h1>
				</div>
				
				<p style="color: black; position: absolute; font-weight: bold;top: 300px; right: 170px;font-size:25px;">Do banco digital ao banco que nunca deixou de ser pessoal.</p>
		
	<div class="slide-home-2 talent w-slide" aria-label="1 of 4" role="group" style="transform: translateX(0px); opacity: 1;">
	<div style:"margin-top: 400px; ">
		<button type="submit" class="btn btn-primary" style="width: 210px; height: 40px;position: absolute; top:360px; right: -30px; background-color: #FD5C12; border-color:white;"><a style=" text-decoration: none; color: white; font-size:18px;" th:href="@{/register}">Abra sua conta!</a></button>
	</div>	
		
	</div>
	
	
	
</body>
</html>